    <footer class="liza_footer liza_blur_on_aside logo_center">
		<div class="liza_footer_left_part">
			
			<div class="footer_copyright">&copy; Copyright 2020 Joanna Zdobylak. Wszelkie prawa zastrzeżone.</div>
		</div>
		<div class="liza_footer_middle_part">
			<div class="liza_logo_cont">
				<div class="liza_logo_wrapper liza_blur_on_aside"><a href="index.html" class="liza_image_logo liza_retina"><img src="img/logo.png" alt="" width="145" height="59" /></a></div>
			</div>
		</div>
		<div class="liza_footer_right_part">
			
		</div>
		<div class="clear"></div>
	</footer>