{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="liza_title_breadcrumb_wrapper liza_blur_on_aside liza_js_bg_image " data-src="img/breadcrumb04.jpg">
		<div class="liza_title_breadcrumb_inner liza_container">
			<div class="liza_title">
				<h1 class="entry-title">Welcome to Gallery</h1>
			</div>
			<div class="liza_breadcrumbs">
				<a href="/">Home</a><span class="liza_breadcrumb_divider">/</span><span class="current">Welcome to Gallery</span>
			</div>
		</div>
	</div><!-- .liza_title_breadcrumb_wrapper -->
	  	
	<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_yes liza_footer_padding_yes">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_tiny">
				<!-- Content -->
				<div class="row">
					<div class="col col-12 liza_js_padding" data-padBottom="30">
						<div class="liza_filter_block">
							<ul id="options">
								<li>
									<ul class="liza_albums_optionset liza_filter_inner" data-option-key="filter">
										<li class="selected"><a href="javascript:void(0)" data-option-value="*">Wszystkie</a></li>
										{% for tag in tags %}
											<li><a data-option-value=".{{tag.name}}" href="javascript:void(0)">{{tag.name}}</a></li>
										{% endfor %}
									</ul><!-- .liza_project_optionset -->
								</li>
							</ul>
						</div><!-- .liza_filter_block -->
		
						<div class="liza_albums_grid liza_albums_grid3" data-uniqid="8202">
							<div class="liza_albums_grid_inner" data-pad="60">
								{% if galleries %}
									{% for gallery in galleries %}
										<div class="liza_album_grid_post_wrapper liza_album_element liza_album_loading {{gallery.tags.all|join:" "}}" data-category="{{gallery.tags.all|join:" "}}">
											<div class="liza_album_grid_post_inner">
												<div class="liza_album_grid_image"><a href="{% url 'gallery' gallery.slug %}">
												{% for image in gallery.imgs.all %}
														{% if forloop.counter == 1 %}
															<img src="{{ image.img.url}}" alt=""/>
														{% endif %}
												{% endfor %}
												</a></div>
												<div class="liza_grid_post_title">
													<a class="notextdecor" href="{% url 'gallery' gallery.slug %}"><h4 class="innertitle entry-title">{{gallery.title}}</h4></a>
												</div>
												<div class="liza_grid_album_meta liza_meta">
													<div>{{gallery.date}}</div>
													<div>{{gallery.tags.all|join:", "}}</div>
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<div class='col-md-12'>
										<p>Galerie niedostępne</p>
									</div>
								{% endif %}

							</div><!-- .liza_albums_grid_inner -->
						</div><!-- .liza_albums_grid -->
					</div><!-- .col-12 -->
				</div><!-- .row -->
				

				<!-- End of Content -->
			</div><!-- .liza_tiny -->
			<!--  Sidebar Placeholder -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->
  	

{% endblock content %}