<!-- Simple Header -->
	<header class="liza_header logo_center menu_simple">
		<div class="liza_header_bg liza_blur_on_aside"></div>
		<div class="liza_header_wrapper">
			<div class="liza_header_left_part">
				<div class="liza_menu_block">
					<a class="liza_menu_toggler" href="javascript:void(0)">
						<span class="liza_menu_ico">
							<span class="liza_menu_ico_line1"></span>
							<span class="liza_menu_ico_line2"></span>
							<span class="liza_menu_ico_line3"></span>
						</span>Menu
					</a><!-- .liza_menu_toggler -->
					<nav class="liza_main_nav liza_blur_on_aside">					
						<ul class="liza_menu">
							<li
								{% if '/' == request.path %}
									class="menu-item-has-children current-menu-ancestor"
								{% else %}
									class="menu-item-has-children"
								{% endif %}
							>
								<a href="{% url 'index' %}">O Mnie</a>
							</li>
							<li
								{% if 'galerie' in request.path %}
									class="menu-item-has-children current-menu-ancestor"
								{% else %}
									class="menu-item-has-children"
								{% endif %}
							>
								<a href="{% url 'galleries' %}">Galerie</a>
							</li>
							<li
								{% if 'projekty' in request.path %}
									class="menu-item-has-children current-menu-ancestor"
								{% else %}
									class="menu-item-has-children"
								{% endif %}
							>
								<a href="{% url 'projects' %}">Projekty</a>
							</li>
							<li
								{% if 'kontakt' in request.path %}
									class="menu-item-has-children current-menu-ancestor"
								{% else %}
									class="menu-item-has-children"
								{% endif %}
							>
							<a href="{% url 'contact' %}">Kontakt</a>
							</li>
						</ul>
					</nav><!-- .liza_main_nav -->
				</div><!-- .liza_menu_block -->
			</div><!-- .liza_header_left_part -->

			<div class="liza_header_middle_part">
				<div class="liza_logo_wrapper liza_blur_on_aside">
					<a href="index.html" class="liza_image_logo liza_retina"><img src="img/logo.png" alt="" width="145" height="59" /></a>
				</div>
			</div><!-- .liza_header_middle_part -->

			<div class="liza_header_right_part">		
				<div class="liza_social_icons liza_blur_on_aside">
					<ul class="liza_social_icons_list">
						<li><a class='facebook' target='_blank' href='https://www.facebook.com/' title='Facebook'><i class='fa fa-facebook'></i></a></li>
						<li><a class='instagram' target='_blank' href='https://www.instagram.com/joan.j.photography/' title='Instagram'><i class='fa fa-instagram'></i></a></li>
					</ul><!-- .liza_social_icons_list -->
				</div>
			</div><!-- .liza_header_right_part -->
			<div class="clear"></div>
		</div><!-- .liza_header_wrapper -->
	</header><!-- .menu_simple -->
	
	<!-- Mobile Header -->
	<header class="liza_mobile_header">
		<div class="liza_mobile_header_wrapper">
			<div class="liza_mobile_header_logo">
				<div class="liza_logo_wrapper liza_blur_on_aside">
					<a href="index.html" class="liza_image_logo liza_retina"><img src="img/logo.png" alt="" width="145" height="59" /></a>
				</div>
			</div><!-- .liza_mobile_header_logo -->
			<div class="liza_mobile_button_wrapper">
				<a class="liza_menu_toggler liza_menu_toggler_mobile" href="javascript:void(0)">
					<span class="liza_menu_ico">
						<span class="liza_menu_ico_line1"></span>
						<span class="liza_menu_ico_line2"></span>
						<span class="liza_menu_ico_line3"></span>
					</span>Menu
				</a>
			</div><!-- .liza_mobile_button_wrapper -->
		</div><!-- .liza_mobile_header_wrapper -->
		<div class="liza_mobile_menu_wrapper">
			<div class="liza_social_icons liza_social_icons_mobile liza_container">
				<ul class="liza_social_icons_list">
					<li><a class='facebook' target='_blank' href='https://www.facebook.com/' title='Facebook'><i class='fa fa-facebook'></i></a></li>
					<li><a class='twitter' target='_blank' href='https://twitter.com/' title='Twitter'><i class='fa fa-twitter'></i></a></li>
					<li><a class='google-plus' target='_blank' href='https://plus.google.com/' title='Google+'><i class='fa fa-google-plus'></i></a></li>
					<li><a class='instagram' target='_blank' href='https://www.instagram.com/' title='Instagram'><i class='fa fa-instagram'></i></a></li>
					<li><a class='pinterest' target='_blank' href='https://www.pinterest.com/' title='Pinterest'><i class='fa fa-pinterest'></i></a></li>
				</ul><!-- .liza_social_icons_list -->
			</div><!-- .liza_social_icons_mobile -->
			
			<nav class="liza_mobile_menu liza_container"></nav>
		</div><!-- .liza_mobile_menu_wrapper -->
	</header><!-- .liza_mobile_header -->