{% extends 'base.html' %}
{% load static %}
{% block content %}

  	
	  	
	<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_no liza_footer_padding_yes">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_tiny">
				<!-- Content -->
				<!-- Top Slider Module -->
				<div class="row liza_set_fullwidth liza_js_padding" data-padBottom="108">
					<div class="col col-12">
						<div class="liza_ribbon_slider_wrapper fadeOnLoad liza_ribbon_gal_7111"
							data-uniqid="7111" 
							data-pad="0" 
							data-autoplay = "off" 
							data-interval = "4000" 
							data-transition = "1000" 
							data-height="100%">
							<div class="liza_ribbon_gallery_container liza_ribbon_slider no_autoplay" data-interval="4000" data-autoplay="off">
								<div class = "liza_ribbon_slide liza_ribbon_block2preload liza_js_transition liza_ribbon_slide1" 
									data-count = "1" 
									data-title = "Light in the Dark"
									data-descr = ""
									data-ratio = "1.6"
									data-transition = "1000">
									<img src="img/home02_slider1.jpg" alt="" />
									<div class="liza_ribbon_overlay"></div>
									<div class="liza_ribbon_overlay_active"></div>
								</div><!-- .liza_ribbon_slide -->
								
								<div class = "liza_ribbon_slide liza_ribbon_block2preload liza_js_transition liza_ribbon_slide2" 
									data-count = "2" 
									data-title = "Down the streets"
									data-descr = ""
									data-ratio = "1.5"
									data-transition = "1000">
									<img src="img/home02_slider2.jpg" alt="" />
									<div class="liza_ribbon_overlay"></div>
									<div class="liza_ribbon_overlay_active"></div>
								</div><!-- .liza_ribbon_slide -->

								<div class = "liza_ribbon_slide liza_ribbon_block2preload liza_js_transition liza_ribbon_slide3" 
									data-count = "3" 
									data-title = "Mirroring"
									data-descr = ""
									data-ratio = "1.77777777"
									data-transition = "1000">
									<img src="img/home02_slider3.jpg" alt="" />
									<div class="liza_ribbon_overlay"></div>
									<div class="liza_ribbon_overlay_active"></div>
								</div><!-- .liza_ribbon_slide -->

								<div class = "liza_ribbon_slide liza_ribbon_block2preload liza_js_transition liza_ribbon_slide4" 
									data-count = "4" 
									data-title = "Why so serious?"
									data-descr = ""
									data-ratio = "1.6"
									data-transition = "1000">
									<img src="img/home02_slider4.jpg" alt="" />
									<div class="liza_ribbon_overlay"></div>
									<div class="liza_ribbon_overlay_active"></div>
								</div><!-- .liza_ribbon_slide -->

								<div class = "liza_ribbon_slide liza_ribbon_block2preload liza_js_transition liza_ribbon_slide5" 
									data-count = "5" 
									data-title = "Attractive girl"
									data-descr = ""
									data-ratio = "1.77777777"
									data-transition = "1000">
									<img src="img/home02_slider5.jpg" alt="" />
									<div class="liza_ribbon_overlay"></div>
									<div class="liza_ribbon_overlay_active"></div>
								</div><!-- .liza_ribbon_slide -->
								
							</div><!-- .liza_ribbon_gallery_container -->
							<a href="javascript:void(0)" class="liza_ribbon_prevSlide liza_button_prev"></a>
							<a href="javascript:void(0)" class="liza_ribbon_nextSlide liza_button_next"></a>
							<div class="liza_ribbon_title_content">
								<h1 class="liza_ribbon_title">&nbsp;</h1>
							</div>
							<div class="liza_ribbon_gallery_trigger personal_preloader"></div>
						</div><!-- .liza_ribbon_slider_wrapper -->
					</div>
				</div><!-- .row -->
				
				<div class="row liza_js_padding" data-padBottom="99">
					<div class="col col-6 liza_js_padding" data-padRight="30" data-padRightTablet="0" data-padBottomTablet="30">
						<h3>It All </h3>
						<p>Hey, thanks for stopping by. My name’s Liza Henderson and I’m a Art Director &amp; Photographer based in the San Francisco where I make cool things for agencies and brands around globe. If you like my work then don’t hesitate to reach out.</p>
						<p class="liza_js_padding" data-padBottom="30">I am already known for pushing the best of imagery, both stills and films. I evolve, photography evolves, clients evolve, so the way we get the job done should evolve as well. I want to focus on what’s actually needed and slash the stuff that isn’t. I aim at being a proponent for good photography and a voice for change within the business. I’ve got some bold ideas and can’t wait to share.</p>
						
						<div class="row liza_resp_restore_3cols liza_js_padding" data-padBottom="53">
							<div class="col col-4">
								<div class="liza_icons_line_item">
									<i class="fa fa-puzzle-piece"></i><h6>Creative</h6>
								</div>
							</div><!-- .col4 -->
							<div class="col col-4">
								<div class="liza_icons_line_item">
									<i class="fa fa-eye"></i><h6>Insight</h6>
								</div>
							</div><!-- .col4 -->
							<div class="col col-4">
								<div class="liza_icons_line_item">
									<i class="fa fa-star"></i><h6>Quality</h6>
								</div>
							</div><!-- .col4 -->
						</div><!-- .liza_resp_restore_3cols -->
						
						<p>But firstly it’s about jaw dropping, awe inspiring, surprising and well composed stories told through the lens of the beholder. Make sure you look through my portfolios and have a chat with me about your next project.</p>
					</div><!-- .col col-6 -->
					
					<div class="col col-6 liza_js_padding" data-padLeft="30" data-padLeftTablet="0">
						<img src="img/home01.jpg" alt=""/>
					</div><!-- .col col-6 -->
				</div><!-- .row -->
				
				<div class="row liza_js_padding liza_resp_restore_4cols" data-padBottom="110">
					<div class="col col-3">
						<div class="liza_counter" data-temp="Test IT">
							<div class="liza_counter_wrapper">
								<div class="liza_counter_content">
									<div class="liza_counter_title_wrapper"><h6 class="liza_counter_title liza_js_color" data-color="#ffffff"><span class="liza_js_bg_color" data-bgcolor="#ffffff"></span>YEARS</h6></div>
									<div class="liza_stat_count_wrapper">
										<div class="liza_stat_count liza_js_bg_color" data-color="#ffffff" data-count="10">0</div>
									</div>
									<div class="liza_stat_temp"></div>
								</div>
							</div>
						</div><!-- .liza_counter -->
					</div><!-- .col col-3 -->
						
					<div class="col col-3">
						<div class="liza_counter" data-temp="Test IT">
							<div class="liza_counter_wrapper">
								<div class="liza_counter_content">
									<div class="liza_counter_title_wrapper"><h6 class="liza_counter_title liza_js_color" data-color="#ffffff"><span class="liza_js_bg_color" data-bgcolor="#ffffff"></span>CLIENTS</h6></div>
									<div class="liza_stat_count_wrapper">
										<div class="liza_stat_count liza_js_bg_color" data-color="#ffffff" data-count="38">0</div>
									</div>
									<div class="liza_stat_temp"></div>
								</div>
							</div>
						</div><!-- .liza_counter -->
					</div><!-- .col col-3 -->
					
					<div class="col col-3">
						<div class="liza_counter" data-temp="Test IT">
							<div class="liza_counter_wrapper">
								<div class="liza_counter_content">
									<div class="liza_counter_title_wrapper"><h6 class="liza_counter_title liza_js_color" data-color="#ffffff"><span class="liza_js_bg_color" data-bgcolor="#ffffff"></span>PROJECTS</h6></div>
									<div class="liza_stat_count_wrapper">
										<div class="liza_stat_count liza_js_bg_color" data-color="#ffffff" data-count="250">0</div>
									</div>
									<div class="liza_stat_temp"></div>
								</div>
							</div>
						</div><!-- .liza_counter -->
					</div><!-- .col col-3 -->
					
					<div class="col col-3">
						<div class="liza_counter" data-temp="Test IT">
							<div class="liza_counter_wrapper">
								<div class="liza_counter_content">
									<div class="liza_counter_title_wrapper"><h6 class="liza_counter_title liza_js_color" data-color="#ffffff"><span class="liza_js_bg_color" data-bgcolor="#ffffff"></span>AWARDS</h6></div>
									<div class="liza_stat_count_wrapper">
										<div class="liza_stat_count liza_js_bg_color" data-color="#ffffff" data-count="15">0</div>
									</div>
									<div class="liza_stat_temp"></div>
								</div>
							</div>
						</div><!-- .liza_counter -->
					</div><!-- .col col-3 -->
				</div><!-- .row -->

				<div class="row liza_js_padding" data-padBottom="25">
					<div class="col col-12"><h3 class="align_center">Reasons to Choose My Services</h3></div>
				</div><!-- .row -->
				
				<div class="row liza_home01_iconbox liza_gutters liza_js_padding" data-padBottom="28">
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-heart-o"></i>
						<h5>1<span class="liza_small_divider"></span>PASSION</h5>
						<p>Phasellus euismod aliquet condimentum. Curabitur vitae posuere nisl. Nunc in felis sagittis, venenatis sem sit amet, elementum urna. Morbi scelerisque.</p>
					</div><!-- .col col-4 -->
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-diamond"></i>
						<h5>2<span class="liza_small_divider"></span>PHILOSOPHY</h5>
						<p>Duis commodo felis non iaculis rhoncus. Proin conv velit et gravida ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
					</div><!-- .col col-4 -->
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-lightbulb-o"></i>
						<h5>3<span class="liza_small_divider"></span>INSIGHT</h5>
						<p>Etiam diam magna, condimentum nec libero ut, tristique elementum lorem. Suspendisse maximus mi eu est vehicula scelerisque. Morbi mauris metu.</p>
					</div><!-- .col col-4 -->
				</div><!-- .row -->

				<div class="row liza_home01_iconbox liza_gutters liza_js_padding" data-padBottom="49">
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-comment-o"></i>
						<h5>4<span class="liza_small_divider"></span>IDEAS</h5>
						<p>Donec sit amet maximus risus, vel finibus nuncer ir. Vestibulum cursus gravida diam, quiser maximus tellus varius eget. Praesent vel ipsum turpis comm.</p>
					</div><!-- .col col-4 -->
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-star-o"></i>
						<h5>5<span class="liza_small_divider"></span>CREATIVITY</h5>
						<p>Nam sodales eros quis ipsum tempor, eu feugiat justo finibus. Phasellus facilisis quam malesuada erat varius, eget auctor ante porta. Proin vestibulu.</p>
					</div><!-- .col col-4 -->
					<div class="col col-4">
						<i class="liza_medium_icon fa fa-thumbs-o-up"></i>
						<h5>6<span class="liza_small_divider"></span>QUALITY</h5>
						<p>Aliquam gravida quam sit amet ante condimentum, sodales luctus diam convallis. In nec rutrum lacus. Nunc quis finibus eros, ac convallis nibh. Sed velmi.</p>
					</div><!-- .col4 -->
				</div><!-- .row -->

				<div class="row liza_js_padding" data-padBottom="84">
					<div class="col col-12 align_center"><a href="contacts.html" class="liza_button ">Get in touch</a></div>
				</div><!-- .row -->
				
				<div class="row liza_js_bg_image liza_bg_cover liza_set_fullwidth liza_boxed_inner liza_js_margin" data-src="img/home_bg1.jpg" data-inner="boxed" data-marBottom="120">
					<div class="col col-12 align_center liza_js_padding liza_home01_promo2" data-padTop="187" data-padBottom="158">
						<h6 class="align_center">Thin. Light. Epic.</h6>
						<h1 class="align_center">Start Something New</h1>
						<p class="liza_js_padding liza_js_color" data-color="#ffffff" data-padBottom="21">I appreciate the raw reality of everyday life, the fleeting beauty of those in-between moments, and I do my very best to take every picture with that in mind. I want my viewers to relate to my photographs through recognition of and familiarity with the situations.</p>
						<a href="projects-listing.html" class="liza_button">Show My Works</a>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="col col-12 liza_js_margin" data-marBottom="102">
						<div class="liza_testimonials_slider liza_owlCarousel owl-carousel owl-theme" data-autoplay = "off"	data-speed = "5000">
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis eros, porta non ultrices sit amet.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial01.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Nancy Hoover</h6>
										<div class="testimonial_additional">Lawyer, New York</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Phasellus condimentum, ante vel imperdiet varius, leo nulla pulvinar leo, non aliquam eros felis ut mauris nec.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial02.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Albert Pierce</h6>
										<div class="testimonial_additional">Artist, Boston</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Accumsan diam, nec malesuada ipsum. Donec ac pulvinar nunc. In et rhoncus justo, ac aliquet arcu et pellentesque.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial03.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Helen Evans</h6>
										<div class="testimonial_additional">Designer, San Francisco</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Orci, non dignissim nisi. Quisque mattis nulla in commodo blandit. Fusce scelerisque libero at eros volutpat.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial04.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Richard Murphy</h6>
										<div class="testimonial_additional">Lawyer, New York</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Eget fringilla lacus suscipit. Nam lobortis efficitur porta. Nunc et congue nisl. Praesent enim justo, congue eu.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial05.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Sophia Wilson</h6>
										<div class="testimonial_additional">Artist, Boston</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
							<div class="liza_testimonials_item">
								<div class="liza_testimonials_item_inner">
									<div class="testimonial_content">“Nibh vel, facilisis vehicula urna. Sed consequat ex finibus velit condimentum tempus. Proin pellentesque libero.”</div>
									<div class="testimonial_author_info">
										<img src="img/testimonials/testimonial06.jpg" alt="" class="testimonials_img"/>
										<h6 class="testimonial_author">Ella Fisher</h6>
										<div class="testimonial_additional">Designer, San Francisco</div>
									</div>
								</div>
							</div><!-- .liza_testimonials_item -->
						</div><!-- .liza_testimonials_slider -->
					</div><!-- .col-12 -->
				</div><!-- .row -->

				<div class="row liza_js_padding" data-padBottom="27">
					<div class="col col-12 align_center"><h3>My Latest Projects</h3></div>
				</div><!-- .row -->
				
				<div class="row liza_set_fullwidth">
					<div class="col col-12">						
						<div class="liza_projects_grid liza_projects_grid2" data-uniqid="2952">
							<div class="liza_projects_grid_inner" data-pad="60">
								{% if projects %}
									{% for project in projects %}
										<div class="liza_project_grid_post_wrapper liza_project_loading liza_project_element people portraits" data-category="people portraits">
											<div class="liza_project_grid_post_inner">
												{% for image in project.imgs.all %} 
												<div>{{image.img}}</div>
												<div class="liza_project_grid_image"><a href="project_single-fullwidth.html"><img src="{{image.img.url }}" alt=""></a></div>
												{% endfor %}
												<div class="liza_grid_post_title">
												<a class="notextdecor" href="project_single-fullwidth.html"><h5 class="innertitle entry-title">{{project.title}}</h5></a>
												</div>
												<div class="liza_grid_project_meta liza_meta">
													<div>{{project.date}}</div>
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<div>
										<p>Projekty niedostępne</p>
									</div>
								{% endif %}
								

								

							</div><!-- .liza_projects_grid_inner -->
						</div><!-- .liza_projects_grid -->
					</div><!-- .col-12 -->
				</div><!-- .row -->
				
				<div class="row">
					<div class="col col-12 align_center"><a href="projects-masonry.html" class="liza_button ">View More</a></div>
				</div><!-- .row -->

				

				<!-- End of Content -->
			</div><!-- .liza_tiny -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->
  	  	
  	<div class="liza_back_to_top liza_show_me" data-bottom="50"></div>
{% endblock content %}
    

