{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="liza_title_breadcrumb_wrapper liza_blur_on_aside liza_js_bg_image " data-src="img/breadcrumb05.jpg">
		<div class="liza_title_breadcrumb_inner liza_container">
			<div class="liza_title">
				<h1 class="entry-title">{{project.title}}</h1>
			</div>
			<div class="liza_breadcrumbs">
				<a href="{% url 'projects'%}" rel="tag">Projekty</a><span class="liza_breadcrumb_divider">/</span><span class="current">{{project.title}}</span>
			</div>
		</div>
	</div><!-- .liza_title_breadcrumb_wrapper -->
	  	
	<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_yes liza_footer_padding_yes single-project">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_post_formats">
				<img class="liza_stand_fi" src="{{project.img1.url}}" alt=""/>
			</div><!-- .liza_post_formats -->
			
			<div class="liza_single_post_title">
				<h2>{{project.title}}</h2>
			</div><!-- .liza_single_post_title -->
			
			<div class="liza_meta">
				<div>{{project.date}}</div>
			</div><!-- .liza_meta -->

			<div class="liza_tiny">
				<!-- Content -->
				<div class="row liza_js_padding" data-padBottom="41">
					<div class="col col-12">
						<p>{{project.description}}</p>
					</div><!-- .col-12 -->
				</div><!-- .row -->

				<div class="row liza_js_padding liza_gutters liza_promo_3images" data-padBottom="59">
					<div class="col col-4 liza_js_padding" data-padTop="80">
						<img src="{{project.img2.url}}" alt=""/>
					</div><!-- .col-4 -->
					<div class="col col-4">
						<img src="{{project.img3.url}}" alt=""/>
					</div><!-- .col-4 -->
					<div class="col col-4 liza_js_padding" data-padTop="80">
						<img src="{{project.img4.url}}" alt=""/>
					</div><!-- .col-4 -->
                    {% if project.img5 %}
                        <div class="col col-4 liza_js_padding" data-padTop="80">
                            {% if project.img6 %}
						        <img src="{{project.img6.url}}" alt=""/>
                            {% endif %}
					    </div><!-- .col-4 -->
					    <div class="col col-4">
						    <img src="{{project.img5.url}}" alt=""/>
					    </div><!-- .col-4 -->
					    <div class="col col-4 liza_js_padding" data-padTop="80">
                            {% if project.img7 %}
						        <img src="{{project.img7.url}}" alt=""/>
                            {% endif %}
					    </div><!-- .col-4 -->
                    {% endif %}
                    {% if project.img8 %}
                        <div class="col col-4 liza_js_padding" data-padTop="80">
                            {% if project.img9 %}
						        <img src="{{project.img9.url}}" alt=""/>
                            {% endif %}
					    </div><!-- .col-4 -->
					    <div class="col col-4">
						    <img src="{{project.img8.url}}" alt=""/>
					    </div><!-- .col-4 -->
					    <div class="col col-4 liza_js_padding" data-padTop="80">
                            {% if project.img10 %}
						        <img src="{{project.img10.url}}" alt=""/>
                            {% endif %}
					    </div><!-- .col-4 -->
                    {% endif %}
				</div><!-- .row -->
				

				
				<!-- End of Content -->
			</div><!-- .liza_tiny -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->

{% endblock content %}