{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="liza_title_breadcrumb_wrapper liza_blur_on_aside liza_js_bg_image " data-src="{% for image in project.imgs.all %}{% if forloop.counter == 1 %}{{ image.img.url}}{% endif %}{% endfor %}">
		<div class="liza_title_breadcrumb_inner liza_container">
			<div class="liza_title">
				<h1 class="entry-title">{{project.title}}</h1>
			</div>
			<div class="liza_breadcrumbs">
				<a href="{% url 'projects'%}" rel="tag">Projekty</a><span class="liza_breadcrumb_divider">/</span><span class="current">{{project.title}}</span>
			</div>
		</div>
	</div><!-- .liza_title_breadcrumb_wrapper -->
	  	
	<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_yes liza_footer_padding_yes single-project">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_post_formats">
				<img class="liza_stand_fi" src="{{project.img1.url}}" alt=""/>
			</div><!-- .liza_post_formats -->
			
			<div class="liza_single_post_title">
				<h2>{{project.title}}</h2>
			</div><!-- .liza_single_post_title -->
			
			<div class="liza_meta">
				<div>{{project.date|date:'d/m/Y'}}</div>
			</div><!-- .liza_meta -->

			<div class="liza_tiny">
				<!-- Content -->
				<div class="row liza_js_padding" data-padBottom="41">
					<div class="col col-12">
						<p>{{project.description}}</p>
					</div><!-- .col-12 -->
				</div><!-- .row -->
				<!-- End of Content -->
			</div><!-- .liza_tiny -->
			<div class="liza_grid_wrapper_single liza_blur_on_aside liza_grid_wrapper liza_grid_9888" data-uniqid="9888" >			
				<div class="liza_grid_inner masonry_is_off grid_columns3" data-pad="60px"  data-overlay="rgba(0,0,0,0.6)">

					
					{% for image in project.imgs.all %}
						<div class="grid-item element anim_el anim_el2 load_anim grid_b2p" >
							<div class="grid-item-inner">
								<a class="swipebox" href="{{image.img.url}}" title=""></a>
								<img src="{{image.img.url}}" alt=""  class="grid_thmb"/>
								<div class="grid_overlay liza_js_bg_color" data-bgcolor="rgba(0,0,0,0.6)"></div>
								<div class="liza-img-preloader"></div>
							</div>
						</div><!-- .grid-item -->
					{% endfor %}
				</div><!-- .liza_grid_inner -->
		
			</div><!-- .liza_grid_wrapper_single -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->

{% endblock content %}