{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_no liza_footer_padding_yes">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_tiny">
				<!-- Content -->
				<!-- Top Slider Module -->
				
				<div class="row">
					<div class="col col-12">
						<div class="liza_element_wrap liza_projects" data-perload = "4" data-onstart = "4">
							<div class="liza_projects_inner">
								<div class="liza_project_post_wrapper liza_project_loading" data-height="700" data-width="1075">
									<div class="liza_project_post_inner">
										<div class="liza_project_image_part">
											<div class="liza_stand_fi_project_listing" data-src="{% static 'img/project_listing/project_listing01.jpg' %}">
												<a href="project_single-fullwidth.html" class="project_listing_see_btn">See The Project</a>
											</div>
										</div><!-- .liza_project_image_part -->
										<div class="liza_project_content_part">
											<div class="liza_project_post_content">
												<div class="liza_grid_post_title">
													<a class="notextdecor" href="project_single-fullwidth.html">
														<h3 class="innertitle entry-title">Attractive babe</h3>
													</a>
												</div>
												<div class="liza_grid_post_meta liza_meta">
													<div>Sep 24, 2017</div>
													<div>in People, Portraits</div>
												</div>
												<div class="liza_excerpt">
													Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor laudantium, totam rem aperia, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione sequi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
												</div>
												<a href="javascript:void(0)" class="project_listing_see_btn">See the project</a>
											</div>
										</div><!-- .liza_project_content_part -->
										<div class="clear"></div>
									</div><!-- .liza_project_post_inner -->
								</div><!-- .liza_project_post_wrapper -->

								<div class="liza_project_post_wrapper liza_project_loading" data-height="700" data-width="1075">
									<div class="liza_project_post_inner">
										<div class="liza_project_image_part">
											<div class="liza_stand_fi_project_listing" data-src="{% static 'img/project_listing/project_listing02.jpg' %}">
												<a href="project_single-left.html" class="project_listing_see_btn">See The Project</a>
											</div>
										</div><!-- .liza_project_image_part -->
										<div class="liza_project_content_part">
											<div class="liza_project_post_content">
												<div class="liza_grid_post_title">
													<a class="notextdecor" href="project_single-left.html">
														<h3 class="innertitle entry-title">Keep dancing</h3>
													</a>
												</div>
												<div class="liza_grid_post_meta liza_meta">
													<div>Sep 24, 2017</div>
													<div>in Lifestyle, People</div>
												</div>
												<div class="liza_excerpt">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida orci et bibendum fringilla. Nunc malesuada consequat blandit. Suspendisse in dictum mi. Etiam aliquam et orci et consequat. Vestibulum commodo accumsan consectetur. Nulla tempor vulputate metus, accumsan posuere nibh laoreet at. Maecenas quam tortor, varius ut velit id, lobortis vehicula magna. Mauris diam ipsum, mollis nec mi in, lobortis porta libero. Morbi nec pharetra justo. Fusce ullamcorper porttitor metus, eu fringilla lorem sodales id. Curabitur finibus.
												</div>
												<a href="javascript:void(0)" class="project_listing_see_btn">See the project</a>
											</div>
										</div><!-- .liza_project_content_part -->
										<div class="clear"></div>
									</div><!-- .liza_project_post_inner -->
								</div><!-- .liza_project_post_wrapper -->

								<div class="liza_project_post_wrapper liza_project_loading" data-height="700" data-width="1075">
									<div class="liza_project_post_inner">
										<div class="liza_project_image_part">
											<div class="liza_stand_fi_project_listing" data-src="{% static 'img/project_listing/project_listing03.jpg' %}">
												<a href="project_single-right.html" class="project_listing_see_btn">See The Project</a>
											</div>
										</div><!-- .liza_project_image_part -->
										<div class="liza_project_content_part">
											<div class="liza_project_post_content">
												<div class="liza_grid_post_title">
													<a class="notextdecor" href="project_single-right.html">
														<h3 class="innertitle entry-title">City rhythm</h3>
													</a>
												</div>
												<div class="liza_grid_post_meta liza_meta">
													<div>Sep 24, 2017</div>
													<div>in Fashion, People</div>
												</div>
												<div class="liza_excerpt">
													Vestibulum efficitur. Vestibulum pulvinar libero arcu, ut ultrices felis congue nec. Aenean faucibus, lectus id tempor tempus, ligula dolor accumsan justo, et ultrices nunc nunc vel dolor. Sed congue augue a risus rhoncus elementum. Sed quis nisi dapibus, venenatis elit vitae, tincidunt nulla. Morbi a tortor leo. Curabitur egestas nibh dui, non volutpat ipsum vestibulum accumsan. Praesent accumsan justo dui, malesuada varius lacus aliquam a. Nullam porttitor fringilla finibus. Fusce dictum efficitur massa quis posuere. Phasellus sem lectus.
												</div>
												<a href="javascript:void(0)" class="project_listing_see_btn">See the project</a>
											</div>
										</div><!-- .liza_project_content_part -->
										<div class="clear"></div>
									</div><!-- .liza_project_post_inner -->
								</div><!-- .liza_project_post_wrapper -->

								<div class="liza_project_post_wrapper liza_project_loading" data-height="700" data-width="1075">
									<div class="liza_project_post_inner">
										<div class="liza_project_image_part">
											<div class="liza_stand_fi_project_listing" data-src="{% static 'img/project_listing/project_listing04.jpg' %}">
												<a href="project_single-fullwidth.html" class="project_listing_see_btn">See The Project</a>
											</div>
										</div><!-- .liza_project_image_part -->
										<div class="liza_project_content_part">
											<div class="liza_project_post_content">
												<div class="liza_grid_post_title">
													<a class="notextdecor" href="project_single-fullwidth.html">
														<h3 class="innertitle entry-title">Sunset beach</h3>
													</a>
												</div>
												<div class="liza_grid_post_meta liza_meta">
													<div>Sep 24, 2017</div>
													<div>in Fashion, Lifestyle</div>
												</div>
												<div class="liza_excerpt">
													Molestie sed eu euismod purus. Phasellus blandit lacus justo, ac tristique ex suscipit quis. Nulla venenatis nisi lectus, vitae suscipit odio porttitor ut. Proin sed massa faucibus, pellentesque dolor vel, finibus nulla. Pellentesque lacus turpis, ultricies ac dui a, tincidunt sagittis tortor. Aenean id nisi rutrum, hendrerit justo at, rhoncus odio. Vivamus vehicula, arcu at fermentum accumsan, urna ligula rhoncus metus, in hendrerit nisi mi sit amet nunc. In augue risus, posuere nec egestas ultrices, facilisis quis libero. Donec vehicula velit et.
												</div>
												<a href="javascript:void(0)" class="project_listing_see_btn">See the project</a>
											</div>
										</div><!-- .liza_project_content_part -->
										<div class="clear"></div>
									</div><!-- .liza_project_post_inner -->
								</div><!-- .liza_project_post_wrapper -->

							</div><!-- .liza_projects_inner -->
						</div><!-- .liza_projects -->
					</div><!-- .col-12 -->
				</div><!-- .row -->

				<div class="row">
					<div class="col col-12 align_center projects_loadmore_wrapper liza_js_margin" data-marBottomMobile="30"><a href="projects-masonry.html" class="liza_button projects_load_more">View More</a></div>
				</div><!-- .row -->

				<!-- End of Content -->
			</div><!-- .liza_tiny -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->

{% endblock content %}