{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="liza_container liza_blur_on_aside liza_no_sidebar liza_header_padding_no liza_footer_padding_yes">
		<div class="liza_content_no_sidebar liza_content">
			<div class="liza_tiny">
				<!-- Content -->
				<!-- Top Slider Module -->
				
				<div class="row">
					<div class="col col-12">
						<div class="liza_element_wrap liza_projects" data-perload = "4" data-onstart = "4">
							<div class="liza_projects_inner">
								{% if projects %}
									{% for project in projects %}
										<div class="liza_project_post_wrapper liza_project_loading" data-height="700" data-width="1075">
											<div class="liza_project_post_inner">
												<div class="liza_project_image_part">
													{% for image in project.imgs.all %} 
														{% if forloop.counter == 1 %}
															<div class="liza_stand_fi_project_listing" data-src="{{image.img.url}}">
														{% endif %}
													{% endfor %}
													
													<a href="{% url 'project' project.slug %}" class="project_listing_see_btn">Zobacz projekt</a>
													</div>
												</div><!-- .liza_project_image_part -->
												<div class="liza_project_content_part">
													<div class="liza_project_post_content">
														<div class="liza_grid_post_title">
															<a class="notextdecor" href="{% url 'project' project.slug %}">
																<h3 class="innertitle entry-title">{{project.title}}</h3>
															</a>
														</div>
														<div class="liza_grid_post_meta liza_meta">
															<div>{{project.date|date:'d/m/Y'}}</div>
															
														</div>
														<div class="liza_excerpt">
															{{project.description|truncatechars:300 }}
														</div>
														<a href="{% url 'project' project.slug %}" class="project_listing_see_btn">Zobacz projekt</a>
													</div>
												</div><!-- .liza_project_content_part -->
												<div class="clear"></div>
												</div><!-- .liza_project_post_inner -->
											</div><!-- .liza_project_post_wrapper -->
									{% endfor %}
								{% else %}
									<div class='col-md-12'>
										<p>Galerie niedostępne</p>
									</div>
								{% endif %}
								
								{% if projects.has_other_pages %}
								<div class="row">
									<div class="col col-12 align_center">
										<div class="pagination">
											{% if projects.has_previous %}
												<a href="?page={{projects.previous_page_number}}">&laquo;</a>
											{% endif %}
											{% for i in projects.paginator.page_range %}
												{% if projects.number == i %}
													<a class="active">{{i}}</a>
												{% else %}
													<a href="?page={{i}}">{{i}}</a>
												{% endif %}
												
											{% endfor %}
											{% if projects.has_next %}
												<a href="?page={{projects.next_page_number}}">&raquo;</a>
											{% endif %}
										</div>
									</div>
								</div><!-- .row -->
								{% endif %}
								
							</div><!-- .liza_projects_inner -->
						</div><!-- .liza_projects -->
					</div><!-- .col-12 -->
				</div><!-- .row -->

				<!-- End of Content -->
			</div><!-- .liza_tiny -->
		</div><!-- .liza_content -->
	</div><!-- .liza_container -->

{% endblock content %}