{% load static %}
<!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/kube.js' %}"></script>
    <script src="{% static 'js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'js/jquery.swipebox.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.event.swipe.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'js/pm_ribbon_gallery.js' %}"></script>
	<script src="{% static 'js/pm_testimonials.js' %}"></script>
    <script src="{% static 'js/posts_sorting.js' %}"></script>
    <script src="{% static 'js/theme.js'  %}"></script>